* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

header .logo img {
    width: 10rem;
    height: 10rem;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

button {
    background-color: #1a84ee;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #156dbb;
}

.qr-code {
    margin-top: 20px;
}

.console-output {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    height: 150px;
    overflow-y: scroll;
    text-align: left;
}

.restart-btn {
    margin-top: 10px;
    background-color: #1a84ee;
}

.restart-btn:hover {
    background-color: #cc0000;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

a {
    color: #cc0000;
    text-decoration: none;
}